.header__button {
    text-decoration: none;
    border: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #fff;
    background: transparent 50% no-repeat;
    cursor: pointer;
    outline-style: none;
    padding-top: 8px;
}