.popup__button-close {
    height: 32px;
    width: 32px;
    padding: 0;
    position: absolute;
    cursor: pointer;
    top: -40px;
    right: -40px;
    object-fit: fill;
    background-image: url(../../../images/svg/cross_close.svg);
    background-repeat: no-repeat;
    border: 0;
    background-color: transparent;
    transition: opacity .3s;
}

.popup__button-close:hover {
    opacity: .6;
}

@media screen and (max-width: 929px) {
    .popup__button-close {
        height:20px;
        width: 20px;
        background-size: 20px;
        bottom: 338px;
        right: 0;
    }
}