.popup__forms {
    border: 0;
    margin: auto;
    padding: 54px 36px 37px;
    position: relative;       
}
 
@media screen and (max-width: 929px) {
    .popup__forms {
        padding:75px 22px 25px;
    }
}